.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.HeaderLink {
  color: white;
  text-decoration: none;
}
.HeaderLink:hover {
  text-decoration: underline;
}
.App-link {
  color: #61dafb;
}

#GamesDiv,
#PlayersDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em;
}
.game {
  background-color: lightgreen;
  padding: 8px 8px;
  border: 1px solid #282c34;
  display: flex;
  flex-direction: column;
  min-height: 100px;
}
.game.selected {
  background-color: green;
}
.game .button1 {
  margin-top: auto;
}

.player {
  background-color: rgb(255, 255, 153);
  padding: 8px 8px;
  border: 1px solid #282c34;
  display: inline-block;
}
.player.guessedWinner {
  border-bottom: 5px solid lightgreen;
}
.player.earnedBonus {
  border-bottom: 5px solid blue;
}
.player .title {
  font-weight: bold;
}

.player:hover {
  background: rgb(247, 247, 95);
}

table,
th,
td {
  border: 1px solid black;
}

table {
  margin: 20px;
  align-self: center;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  border-spacing: 2px;
}

th {
  background-color: rgb(226, 119, 119);
}

td {
  width: 20%;
  background-color: rgb(230, 195, 195);
}

.hidden {
  display: none;
}

.smallButton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 1px solid #4caf50;
}

.button1:hover {
  background-color: #4caf50;
  color: white;
}

.largeButton {
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 2px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2 {
  background-color: rgb(230, 195, 195);
  color: black;
  border: 1px solid rgb(228, 82, 82);
}

.button2:hover {
  background-color: rgb(228, 82, 82);
  color: white;
}

.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.scores .score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}

#ScoresDiv {
  width: 95vw;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  margin: auto;
}
#ScoresDiv table {
  width: auto;
  margin: auto;
}

#ScoresDiv th {
  min-width: 50px;
  max-width: 70px;
}

#ScoresDiv td {
  width: initial;
}

#key {
  display: flex;
  justify-content: center;
}

#extra-point-key {
  background-color: blue;
}
#correct-guess-key {
  background-color: lightgreen;
}

.key {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  display: flex;
  margin-right: 5px;
  align-self: flex-end;
}
.key > div {
  line-height: 15px;
  font-size: 25pt;
}
#key > div {
  display: flex;
}
#key > div:first-child {
  display: flex;
  margin-right: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: baseline;
}
